@model DataKost

<div class="card">
    <div class="card-header">
        <a href="/DataBooking/Create/@Model.Id" class="btn btn-success">Booking Kost</a>
        <h2>@Model.Name</h2>
    </div>
</div>

