@model List<Admin>

@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3>List Admin</h3>
            </div>

            <div class="card-body">
                <a href="/User/Create" class="btn btn-success">Add Admin</a>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var admin in Model)
                        {
                            <tr>
                                <td>@admin.Username</td>

                                <td>
                                    <a href="#" class="btn btn-warning">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>