@model DataKost;

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Booking Kost</h3>
            </div>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-action="Create" asp-controller="DataBooking">
                    <input type="text" value="@Model.Id" name="idKamar" hidden>
                    <div class="mb-3">
                        <label>Nama</label>
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>No Telepon</label>
                        <input type="text" name="PhoneNumber" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>NoKTP</label>
                        <input type="text" name="IDCardNumber" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label>Pekerjaan</label>
                            <input type="text" name="Employment" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Back
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>